/*
===========
 Header
===========
*/

.userstuff,
#header {
    font-size: 110%; //tolto important qua
}

#header li, #greeting p.icon {
    float: none;
}

#header .primary {
    background: transparent;
}

#header .search {
    display: block;
}

#greeting li, #header .primary li {
    display: inline-block;
}

#header .heading,
#login,
#greeting,
#header .primary {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    float: none;
}

#header h1.heading {
    margin: 30px 0;
}


#login, #greeting, #header .heading {
    padding: 0;
}

#header .dropdown .menu a, #header .dropdown .menu .current {
    white-space: nowrap;
}

#header .user {
    float: none;
    text-align: center;
}

#header .menu,
#small_login,
#header .dropdown:hover .current+.menu,
#header .menu,
#small_login,
#header .dropdown:hover .current+.menu {
    width: auto;
}

div.preface {
    margin: 1.5em;
}

#header .logo {
    display: none;
}
