/*
===========
 Work Page
===========
*/

#workskin,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff {
    width: 100%; 
}

/*header tags*/

.blurb dl.tags dd,
dl.meta dd {
    margin-left: 0;
}

.meta dd {
    margin: .643em 0;
}

dl.meta {
    padding: 1em;
}

.chapter .secondary,
.download .secondary {
    /*
  This moves the download option and the chapter option
  in a better position
  */
    top: 15em;
    right: 0;
    margin: 10px;
}

.chapter .expandable.secondary, .chapter .expandable.secondary select {
    width: 90%;
}

.works-show .wrapper {
    box-shadow: $blurbshadow;
    margin-top: 1em;
}

/* this is what removes the 'fandom' 'rating' 'relationship' etc label in the head of the work */
dl.meta dl.stats dt {
    display: inline-block;
}

dl.meta dt {
    display: none;
}

.meta dd {
    margin: .8em 0;
}

/*end of the code that removes 'fandom' 'rating' 'relationship'in the head of the work */



/* notes*/

#workskin h2.title.heading {
    @extend %line-height;  
}


div.preface,
.preface.group blockquote.userstuff {
    /*
  reduces the indent in the blockquotes and the author's note
  */
    margin: 0;
}

#workskin,
.collection blockquote.userstuff {
    /*
  This resets the main page width to a decent size for mobile
  */
    width: 100%; //tolto important qua
}
.chapter .preface {
    border-top: $borderwidth;
}


/*end notes and kudos*/

div.afterword .series h3, div.afterword .children h3, div.preface .series ul, div.preface .children ul {
    text-align: center;
}

p.kudos {
    /*
  Resets the padding for kudos username list and moves the kudos image
  */
    background: none;
    padding: 0;
    min-height: 0;
    word-break: break-word;
}

p.kudos::before {
    content: "Kudos:";
}

#feedback ul.actions, ul.work.actions {
    float: initial;
}

/*actual chapter*/

#workskin {
    padding: 0;
}

.userstuff ul, #workskin ul {
    margin: 0;
    padding: 0;
}




