dl.stats, .datetime, .byline, .blurb ul.series {

    text-transform: uppercase;	
    font-size: 90%;
}

body {
    letter-spacing: $letterspacing;
    word-spacing: $wordspacing;
}

/*titles centered*/
#main h2.heading {
    display: block;
    margin: auto;
    text-align: center;
}