/*
===========
 Colors
===========
*/

body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander,
.autocomplete div.dropdown ul {
    color: $coltext;
    background-color: $colbackground;
}

::-moz-selection,
::selection,
::-webkit-selection {
    background-color: $colaccent;
    color: $colbackground;
}

.actions a,
.actions a:link,
.actions a:visited,
.action,
.action:link,
.actions input,
input[type="submit"],
button,
{
    color: $colbackground;
}

#header .primary .menu a,
#header .primary .menu .current,
input[type="radio"]+label,
input[type="checkbox"]+label,
.userstuff h1,
.userstuff h2,
.userstuff h3,
.userstuff h4,
.userstuff h5,
.userstuff h6,
dd.fandom li.added.tag, span.unreviewed.symbol, ul.notes li::marker, .current,
.actions label,
.listbox>.heading,
.listbox .heading a:visited,
form dd.required,
.filters dt,
.filters dd,
.filters input[type="submit"],
.filters .expander   {
    color: $coltext;
}



a,
a:link,
a:visited,
a.tag,
a.tag:link,
a.tag:visited,
.listbox .index a,
.listbox .index a:link,
.listbox .index a:visited,
#header .heading a,
#header .heading a:link,
#header .heading a:visited,
.splash .module h3,
.blurb h4 a:link,
.blurb h4 a,
.blurb h4 a:link,
.blurb h4 a:visited,
#header a,
#header a:link,
#header a:visited,
#header .current,
#header .primary .open a,
#header .primary .open a:link,
#header .primary .open a:visited,
#header .primary .dropdown a,
#header .primary .dropdown a:link,
#header .primary .dropdown a:visited,
#header .primary .dropdown a:focus,
#dashboard a,
#dashboard a:link,
#dashboard a:visited,
#dashboard span,
li::marker,
.draggable,
.droppable {
    color: $colaccent;
}

/* lighter texts for labels */
dl.meta dl.stats dt, .preface h3.heading, .comment .posted, .comment .edited, .news dl.meta, .blurb dl.stats dt, #header .dropdown .menu .current {
    color: $coltextlighter;
}

#footer {
    background: $accentgradient;
    background-color: $accentgradient;
}





#header .actions a:active, #header .actions a:hover {
    box-shadow: none !important;
    transform: none;
}

#main .comment .actions a, #main .comment .actions a:link, #main .comment .actions input[type="submit"], .blurb .actions a, .blurb .actions a:link {
    color: $coltext;
    background: $colbackgroundinput;
}

.notice,
.comment_notice,
ul.notes,
.caution,
.comment_error,
.alert.flash,
.required .autocomplete,
.autocomplete .notice,
#header h2.collections,
#header h2 {
    background-color: $colnotice;
    color: $textnotice;
}

.notice a, .notice a:link, .notice a:visited, .caution a, .caution a:link, .caution a:visited {
    color: $textnotice;
    text-decoration: underline;    
}

.error {
    background-color: $colnotice;
    color: $colalertonlightbg;
}

form.search input[type="text"],
dd.autocomplete li.input,
input[type="radio"],
select,
input[type="checkbox"],
input[type="file"],
input.number,
p input,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
input,
textarea {
    color: $coltext;
    border-top-color: $colbackgroundinput;
    border-color: $colbackgroundinput;
    background-color: $colbackgroundinput;
}

.filters [type="radio"]+.indicator:before,
.filters [type="checkbox"]+.indicator:before,
.filters .exclude [type="checkbox"]+.indicator:before {

    background-color: $colbackgroundinput;

}

.filters [type="radio"]:checked+.indicator:before,
.filters [type="checkbox"]:checked+.indicator:before,
.filters .exclude [type="checkbox"]:checked+.indicator:before {

    background-color: $colaccent;

}

.filters .exclude [type="checkbox"]:checked+.indicator:before {
    background-color: $colalert;
}

.secondary {
    background-color: $colbackground;
}

.javascript, .javascript form.filters  {
    background-color: $colbackgroundfilters !important;

}

.announcement input[type="submit"],
.announcement .action {
    background: $colbackground;
    border: $borderwidth $colborder;
    color: $coltext;

}

.ui-draggable form {
    box-shadow: 0 0 3px $colbackgroundinput;
}

.userstuff blockquote {
    border-inline-start: 2px solid $colaccent;
}

span.offered.requested {
    color: $colrequestedoffered;
}

span.offered,
.replied,
.nominations .approved {
    color: $coloffered;
}
.chapter .preface {
    border-color: $colborder;
}
span.requested,
.nominations .rejected {
    color: $colrequested;
}



#header ul.menu.dropdown-menu, #header .dropdown:hover a, #header .open a {
    background: none;
    background-color: $colbackgroundfilters;
}
