.blurb h4.heading {
    text-align: center;
    padding: 10px 0;
    line-height: 150%;
}

.blurb h4.heading a {
     display: inline-block;
     font-size: 100%;
     border-radius: $bordershape;    
}

.blurb h4.heading a:first-of-type {
     display: block;
     font-size: 140%;
     margin-bottom: 10px;
}


.blurb .header .heading {
    margin: .375em 5.25em;
}

h5.fandoms.heading {
    text-align: center;
}


.splash blockquote.userstuff.summary {
    width: 95%;
    margin: auto 10px;
}

// .blurb {
//     border: none !important;
//     box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px !important;

// }


//esperimenti con gli stats
dl.stats dt {
display: none;
}

li.collection dl.stats dt, li.series dl.stats dt {
display: inline-block !important;
}



dl.stats dd.kudos::before {
    //content: "\2665 ";
        background: url(https://64.media.tumblr.com/23a3c6f134a96386f50fb8982a353590/8b704f26c7323545-01/s100x200/31e25f0be03646918168c4d49bd2ee9733b2cd59.png);
    //color: $coltextlighter;
}

dl.stats dd.words::before {
    //content: "W ";
        background: url(https://64.media.tumblr.com/7453ae8f68ca0b9aec02a1e206a876ec/8b704f26c7323545-1d/s100x200/9539dd52cc70e9125cfedff9629ab7ed01ea2c99.png);
        //color: $coltextlighter;
}


dl.stats dd.chapters::before {
    //content: "Ch ";
    background: url(https://64.media.tumblr.com/05dfbc6eac61a516ab842fb97132f5be/8b704f26c7323545-ce/s100x200/3651bd1d102707d79b9b25cd42a7eb7daa28e714.png);
    //color: $coltextlighter;
}
dl.stats dd.comments::before {
    //content: "Co ";
    background: url(https://64.media.tumblr.com/7172c0bbe03a0eef7b236014dc78c905/8b704f26c7323545-78/s250x400/f37ba1ff69b5ef2ad7e5fe66b61fd748badc00d1.png);
        //color: $coltextlighter;
}
dl.stats dd.bookmarks::before {
    //content: "B ";
    background: url(https://64.media.tumblr.com/e61846b8282228fe2c81e8ac22135142/8b704f26c7323545-83/s100x200/cddf3a9004df196cf60be04d3285bf3e9e540e14.png);
        //color: $coltextlighter;
}
dl.stats dd.hits::before {
    //content: "H ";
    background: url(https://64.media.tumblr.com/3287a69822044de32506324a14e582d9/8b704f26c7323545-9f/s100x200/d85d22b21a630d809cdf8b13e961d869148e6321.png);
        //color: $coltextlighter;
}
dl.stats dd.collections::before {
    //content: "H ";
    background: url(https://64.media.tumblr.com/304e0d81e625b7e79438ec334a8a663a/8b704f26c7323545-09/s100x200/63dcd0cbbb8c1f721ada2b640b4fb9f7a6e0120f.png);
        //color: $coltextlighter;
}
//.series .blurb dl.stats dd:nth-of-type(2)::before {

//        background: url(https://64.media.tumblr.com/9800e232399a224b1acffa8b8df3f1c0/ebb78f922c116185-f6/s100x200/54e452f9ede94c8aac6017c058eac4c9d1060951.png);

//}



li.work dl.stats dd::before, dl.work dl.stats dd::before{
    display: inline-block;
    width: 14px;
    height: 14px;
    content: " ";
    background-size: 14px 14px !important;
        margin-right: 5px;
}

dl.stats dd.published::before, dl.stats dd.status::before {
    width: 0px;
    margin-right: 0px;
}