a.dropdown-toggle[href*="/works/new"] {
  background: url(https://i.ibb.co/SXJTJQw/add.png) !important;
  background-size: 15px 15px !important;
  text-indent: -9999px;
  display: block-inline;
  width: 15px !important;
  height: 15px !important;
  padding: 0px !important;
}

a[href*="/users/logout"] {
  background: url(https://i.ibb.co/Np06xNb/log-off.png) !important;
  background-size: 15px 15px !important;
  text-indent: -9999px;
  display: block-inline;
  width: 15px !important;
  height: 15px !important;
  padding: 0px !important;
}