#workskin,
.system .userstuff,
.collection blockquote.userstuff {
	width: $percentparagraph;
	max-width: $maxparagraph;
}


.blurb blockquote {
	text-align: left;
}

.comment blockquote.userstuff {
    margin-block-start: 0;
}

.splash .comment .userstuff {
	width: 95%;
	margin: auto;

}

#main.system h2.heading {
    text-align: center;
    margin: auto;
    display: block;
}


::selection {

	background-color: $colaccent;
	color: $colbackground;
}