body,
#header,
#outer.wrapper {
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 3.5555555556%, #ffffff 5.5555555556%, #69D0FB 9.1111111111%, #69D0FB 11.1111111111%, #69D0FB 14.6666666667%, #69D0FB 16.6666666667%, #99cef6 20.2222222222%, #99cef6 22.2222222222%, #83b8f5 25.7777777778%, #83b8f5 27.7777777778%, #E4CE69 31.3333333333%, #E4CE69 33.3333333333%, #C14E15 36.8888888889%, #C14E15 38.8888888889%, #ff7930 42.4444444444%, #ff7930 44.4444444444%, #6F71AA 48%, #6F71AA 50%, #A17AA7 53.5555555556%, #A17AA7 55.5555555556%, #FD8996 59.1111111111%, #FD8996 61.1111111111%, #F68581 64.6666666667%, #F68581 66.6666666667%, #F0CDC9 70.2222222222%, #F0CDC9 72.2222222222%, #F1E2DF 75.7777777778%, #F1E2DF 77.7777777778%, #ECFEFE 81.3333333333%, #ECFEFE 83.3333333333%, #ECFEFE 86.8888888889%, #ECFEFE 88.8888888889%, #ffffff 92.4444444444%, #ffffff 94.4444444444%);
  background-size: 20000px 20000px;
  background-repeat: repeat;
}
