@charset "iso-8859-1";
//ERRORI:
//rifai i colori che così fa schifo al cazzo
//magari usa i colori di dyslexia skin
//testo su commenti non si legge. AT ALL.

$fontheading: Palatino,
"Palatino Linotype",
"Palatino LT STD",
"Book Antiqua",
Georgia,
serif;
$fontbody: Verdana, "Trebuchet MS",
"Lucida Grande",
"Lucida Sans Unicode",
"Lucida Sans",
sans-serif;
$fontweightheading: normal;
$lineheight: 1.125;
$maxparagraph: 45em;
$percentparagraph: 70%;

$letterspacing: .04em;
$wordspacing: .21em;
$fontbasesize: 1em;
$ratio: 1.2;
$ratioheader: $ratio;
$paragraphheight: 2em;

$bordershape: 5px;
$borderwidth: 1px solid;
$borderbutton: none;
$boxbackground: yes;

$checkboxsize: .8em;



$colbackground: #2e2e2e;
$coltext: #fafafa;
$coltextlighter: darken($coltext, 30%);

//$colaccent: #8cbebd;
//$accentgradient: linear-gradient(126deg, rgba(140,190,189,1) 0%, rgba(57,175,200,1) 100%);
//$colbackgroundfooter: #588f90;
$colaccent: #8BC6EC;
$accentgradient: linear-gradient(135deg, $colaccent 0%, #9599E2 100%);
$colbackgroundalt: lighten($colbackground, 9%);
$colbackgroundalt2: lighten($colbackground, 3%);
$colborder: $colbackgroundalt2;
$colnotice: #b3dcdb;
$textnotice: $colbackground;
$colalert: #ffb6b9;
$colalertonlightbg: #d41212;
$colbackgroundfilters: lighten($colbackground, 13%);;
$colbackgroundinput: lighten($colbackground, 11%);;
$colbackgroundfooter: $accentgradient;
$lockbg: $colaccent;
$tagshadow: 1px 3px 10px -3px darken($colbackground, 20%);

//the following are relative to exchanges - CAMBIALI CHE FANNO SCHIFO
$colrequested: red;
$colrequestedoffered: yellow;
$coloffered: green;

$bottonilogin: lightbuttons;
$what: darkbg;



@import 'font';
@import 'header';
@import 'bottoni';
@import 'filters';
@import 'boxes';

@import 'bottoni-login';

@import 'colori';
@import 'paragraphs';
@import 'blurb';
@import 'tags';

