@charset "iso-8859-1";
//ERRORI:
//rifai i colori che così fa schifo al cazzo
//magari usa i colori di dyslexia skin
//testo su commenti non si legge. AT ALL.

$fontheading: Palatino,
"Palatino Linotype",
"Palatino LT STD",
"Book Antiqua",
Georgia,
serif;
$fontbody: "Trebuchet MS",
"Lucida Grande",
"Lucida Sans Unicode",
"Lucida Sans",
sans-serif;
$fontweightheading: normal;
$lineheight: 1.125;
$maxparagraph: 45em;
$percentparagraph: 70%;

$letterspacing: .02em;
$wordspacing: .21em;
$fontbasesize: 1em;
$ratio: 1.2;
$ratioheader: $ratio;
$paragraphheight: 2em;

$bordershape: 5px;
$borderwidth: 1px solid;
$borderbutton: none;

$checkboxsize: .8em;


// $colbackground: #2d2a49;
// $coltext: #dde6e5;
// $colaccent: #a1bd95;
// $colbackgroundalt: #36395c;
// $colbackgroundalt2: #495e75;
// $colborder: #495e75;
// $colnotice: #b3dcdb;
// $textnotice: $colbackground;
// $colalert: #ffb6b9;
// $colalertonlightbg: #d41212;
// $colbackgroundfilters: #3b3b3b;
// $colbackgroundinput: #3e405c;
// $colbackgroundfooter: #255c7e;
// $lockbg: $colaccent;

$colbackground: #2e2e2e;
$coltext: #fafafa;
$colaccent: #8cbebd;
$colbackgroundalt: #525151;
$colbackgroundalt2: #3b3b3b;
$colborder: #3b3b3b;
$colnotice: #b3dcdb;
$textnotice: $colbackground;
$colalert: #ffb6b9;
$colalertonlightbg: #d41212;
$colbackgroundfilters: #3b3b3b;
$colbackgroundinput: #545454;
$colbackgroundfooter: #588f90;
$lockbg: $colaccent;

//the following are relative to exchanges - CAMBIALI CHE FANNO SCHIFO
$colrequested: red;
$colrequestedoffered: yellow;
$coloffered: green;

$bottonilogin: lightbuttons;
$what: darkbg;



@import 'font';
@import 'header';
@import 'bottoni';
@import 'filters';
@import 'boxes';

@import 'bottoni-login';

@import 'colori';
@import 'paragraphs';

