@charset "iso-8859-1";


$fontheading: Palatino,
"Palatino Linotype",
"Palatino LT STD",
"Book Antiqua",
Georgia,
serif;
$fontbody: "Trebuchet MS",
"Lucida Grande",
"Lucida Sans Unicode",
"Lucida Sans",
sans-serif;
$fontweightheading: normal;
$lineheight: 1.5;
$maxparagraph: 45em;
$percentparagraph: 70%;


$letterspacing: .02em;
$wordspacing: .21em;
$fontbasesize: 1em;
$ratio: 1.2;
$ratioheader: $ratio;
$paragraphheight: 2em;

$bordershape: 5px;
$borderwidth: 1px solid;
$borderbutton: none;
$boxbackground: no;

$checkboxsize: .8em;

$colbackground: #fafafa;
$coltext: #2e2e2e;
$coltextlighter: lighten($coltext, 30%);
$colaccent: #d84549;
$accentgradient: linear-gradient(126deg, rgba(216,69,73,1) 0%, rgba(225,76,116,1) 100%);
$colbackgroundalt: #f2f2f2;
$colbackgroundalt2: transparent;
$colborder: #e8e8e8;
$colnotice: #d1e9eb;
$textnotice: $coltext;
$colalert: #bd203a;
$colalertonlightbg: #2e2e2e;
$colbackgroundfilters: #fafafa;
$colbackgroundinput: #ebebeb;
$colbackgroundfooter: $accentgradient;
$lockbg: transparent;
$tagshadow: 1px 3px 10px -3px darken($colbackground, 20%);

//the following are relative to exchanges
$colrequested: #A62637;
$colrequestedoffered: #F2AA4C;
$coloffered: #75BD57;

$bottonilogin: darkbuttons;
$what: lightbg;





@import 'font';
@import 'header';
@import 'bottoni';
@import 'filters';
@import 'boxes';

@import 'bottoni-login';
@import 'colori';
@import 'paragraphs';
@import 'blurb';
@import 'tags';
