@charset "iso-8859-1";


$fontheading: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Calisto MT", "Times New Roman", serif;
$fontbody: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$fontweightheading: normal;
$lineheight: 1.125;

$letterspacing: .02em;
$wordspacing: .21em;
$fontbasesize: 1.1em;
$ratio: 1.333;
$ratioheader: $ratio;
$paragraphheight: 2em;

$bordershape: none;
$borderwidth: 1px solid;
$borderbutton: none;

$checkboxsize: .8em;

$colbackground: #f2efe9;
$coltext: #63625f;
$colaccent: #a38c6c;
$colbackgroundalt: #e8e3da;
$colborder: #e0dccc;
$colnotice: #d8b8a5;
$colalert: #e85a4f;
$colbackgroundfilters: #f2efe9;
$colbackgroundinput: #e0dbd1;

//the following are relative to exchanges
$colrequested: red;
$colrequestedoffered: yellow;
$coloffered: green;




@import 'font';
@import 'header';
@import 'bottoni';
@import 'filters';
@import 'boxes';

@import 'bottoni-login-neri';
//@import 'bottoni-login-bianchi';





body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander {
  color: $coltext;
  background-color: $colbackground;
}
::-moz-selection, ::selection, ::-webkit-selection {  background-color: $colaccent; 
color: $colbackground;
}
.actions a,
.actions a:link,
.actions a:visited,
.action,
.action:link,
.actions input,
input[type="submit"],
button,
.current,
.actions label, .listbox>.heading, .listbox .heading a:visited, form dd.required, .filters dt, .filters dd, .filters input[type="submit"], .filters .expander {
  color: $coltext;
}

a,
a:link,
a:visited,
a.tag,
a.tag:visited,
a.tag:link,
.listbox .index a:link,
.listbox .index a:visited,
.listbox .index a,
#header .heading a,
.splash .module h3,
.blurb h4 a:link,
.blurb h4 a,
.blurb h4 a:visited, #dashboard a, #dashboard span, li::marker, .draggable, .droppable {
  color: $colaccent;
}
.actions a,
.actions a:link,
.actions a:visited,
.action,
.action:link,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
.dropdown,
.splash .favorite li:nth-of-type(odd) a,
input#site_search:focus,
#header #search input:focus, .autocomplete div.dropdown ul {
  color: $coltext;
  background-color: $colbackgroundalt;
}

#footer,
a:hover,
a.tag:hover,
.listbox .heading a.tag:visited:hover,
#dashboard a:hover,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus,
.blurb h4 a:hover,
a:visited:hover,
input[type="submit"]:hover,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus,
a.tag:hover,  .event .userstuff, .event .userstuff a,  .event .userstuff a:link,  .event .userstuff a:visited,
.listbox .index a:hover, .autocomplete .dropdown ul li:hover, li.selected {
  background-color: $colaccent;
  color: $colbackground;
}

#dashboard .current,
#header .menu,
#small_login,
#header .dropdown:hover .current+.menu,
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header #search input:focus,
#header #search input,
tr:hover,
#outer .current,
.thread .even, .toggled form, .dynamic form, .secondary, .dropdown {
  background-color: $colbackgroundalt;
    /* needs this too to override some instances */
  background: $colbackgroundalt;
}

a.modal.help:hover {
  background-color: transparent;
}

.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash, .required .autocomplete, .autocomplete .notice, #header h2.collections, #header h2 {
  background-color: $colnotice;
  color: $colbackground;
}

fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.listbox,
fieldset fieldset.listbox,
.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed,
form.verbose legend,
.verbose form legend, .secondary,
th,
thead,
tbody tr, .wrapper, li.blurb, fieldset, form dl, dl.meta, .faq .example, .guideline .example, li.post.group, li.comment, .splash .news li:last-of-type  {
  border-color: $colborder;
}

.required, .error, .alert.flash, .nominations .rejected {
color: $colalert;

}

.secondary {
  background-color: $colbackground;
}
form.search input[type="text"], dd.autocomplete li.input, input[type="radio"], select, input[type="checkbox"], input[type="file"], input.number, p input, p select, .heading select, li select, input:focus, select:focus, textarea:focus, input, textarea {
  border-top-color: $colbackgroundinput;
  border-color: $colbackgroundinput;
  background-color: $colbackgroundinput;
}
.filters [type="radio"]+.indicator:before, .filters [type="checkbox"]+.indicator:before, .filters .exclude [type="checkbox"]+.indicator:before {

    background-color: $colbackgroundinput;

}
.filters [type="radio"]:checked+.indicator:before, .filters [type="checkbox"]:checked+.indicator:before, .filters .exclude [type="checkbox"]:checked+.indicator:before {

    background-color: $colaccent;

}
.filters .exclude [type="checkbox"]:checked+.indicator:before {
      background-color: $colalert;
}
.javascript {
  background-color: $colbackgroundfilters !important;

}
.userstuff blockquote {
  border-inline-start: 2px solid $colaccent;
}
.announcement input[type="submit"], .announcement .action {
    background: $colbackground;
    border: 1px solid $colborder;
    color: $coltext;

    }
.chapter .preface {
    border-color: $colborder;
}
    span.offered.requested { color: $colrequestedoffered; }
span.offered, .replied, .nominations .approved { color: $coloffered; }
span.requested, .nominations .rejected { color: $colrequested; }