@charset "iso-8859-1";


$fontbody: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
$fontheading: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
$fontweightheading: bold;
$lineheight: 1.125;

$letterspacing: .02em;
$wordspacing: .21em;
$fontbasesize: 1.1em;
$ratio: 1.333;
$ratioheader: $ratio;
$paragraphheight: 2em;

$bordershape: 5px;
$borderwidth: 3px solid;
$borderbutton: none;

$checkboxsize: .8em;

$colbackground: #24305e;
$coltext: #ffffff;
$colaccent: #a8d0e6;
$colbackgroundalt: #374785;
$colbackgroundalt2: #374785;
$colborder: #a8d0e6;
$colnotice: #f8e9a1;
$colalert: #f7c6c6;
$header: #f76c6c;
$footer: #f8e9a1;
$colbackgroundfilters: #f8e9a1;
$colbackgroundinput: #3f4f91;

//the following are relative to exchanges
$colrequested: red;
$colrequestedoffered: yellow;
$coloffered: green;

@import 'font';
@import 'header';
@import 'bottoni';
@import 'filters';
@import 'boxes';

//@import 'bottoni-login-neri';
@import 'bottoni-login-bianchi';


%line-height {
  /*
  This is the line height of the text.
  */
    line-height: $lineheight;
}


body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander{
  color: $coltext;
  background-color: $colbackground;

}
::-moz-selection, ::selection, ::-webkit-selection {  background-color: $colaccent; 
color: $colbackground;
}
.listbox>.heading, .listbox .heading a:visited, form dd.required, #header .primary .menu a, #header .primary .menu .current {
    color: $coltext;
}

.actions a,
.actions a:link,
.actions a:visited,
.action,
.action:link,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
.dropdown,
.splash .favorite li:nth-of-type(odd) a,
input#site_search:focus,
#header #search input:focus  {
  color: $coltext;
  background-color: $colbackgroundalt;
}

a,
a:link,
a:visited,
a.tag,
a.tag:visited,
a.tag:link,
.listbox .index a:link,
.listbox .index a:visited,
.listbox .index a,
#header a,
#header a:link,
#header a:visited,
#header .heading a,
.splash .module h3,
.blurb h4 a:link,
.blurb h4 a,
.blurb h4 a:visited,
#header a,
#header a:visited,
#header .current,
#header .primary .open a,
#header .primary .dropdown:hover a,
#header .primary .dropdown a:focus,
#dashboard a,
#dashboard span, li::marker, .draggable, .droppable {
  color: $colaccent;
}

.blurb h4 a:visited {
  color: $colaccent !important;
}

#footer,
a:hover,
a.tag:hover,
.listbox .heading a.tag:visited:hover,
#dashboard a:hover,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus,
.blurb h4 a:hover,
a:visited:hover,
input[type="submit"]:hover,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus,
a[href*="/users/logout"],
a.tag:hover,  .event .userstuff, .event .userstuff a,  .event .userstuff a:link,  .event .userstuff a:visited,
.listbox .index a:hover, .autocomplete .dropdown ul li:hover, li.selected, autocomplete a:hover, .autocomplete div.dropdown ul, .autocomplete .dropdown ul li:hover, li.selected {
  background-color: $colaccent;
  color: $coltext;
}

#dashboard .current,
#header .menu,
#small_login,
#header .dropdown:hover .current+.menu,
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header #search input:focus,
#header #search input,
tr:hover,
#outer .current,
li.relationships a,
.thread .even, .toggled form, .dynamic form, .secondary, .dropdown {
  background-color: $colbackgroundalt;
    /* needs this too to override some instances */
  background: $colbackgroundalt;
}

a.modal.help:hover {
  background-color: transparent;
}

.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash, .required .autocomplete, .autocomplete .notice, #header h2.collections, #header h2 {
  background-color: $colnotice;
  color: $colbackground;
}

#footer {
  border-top: none;
}

.required,
.error,
.alert.flash, .nominations .rejected {
  color: $colalert;
}

fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.listbox,
fieldset fieldset.listbox,
.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed,
form.verbose legend,
.verbose form legend,
.secondary,
th,
thead,
tbody tr,
.filters fieldset,  .wrapper, li.blurb, fieldset, form dl, .actions input,
input[type="submit"],
textarea, dl.meta, .faq .example, .guideline .example, li.post.group, li.comment, .splash .news li:last-of-type    {
  border-color: $colborder;
}


.required, .error, .alert.flash {
color: $colalert !important;


}
form.search input[type="text"], dd.autocomplete li.input, input[type="radio"], select, input[type="checkbox"], input[type="file"], input.number, p input, p select, .heading select, li select, input:focus, select:focus, textarea:focus, input, textarea {
  border-top-color: $colbackgroundinput;
  border-color: $colbackgroundinput;
  background-color: $colbackgroundinput;
}
.filters [type="radio"]+.indicator:before, .filters [type="checkbox"]+.indicator:before, .filters .exclude [type="checkbox"]+.indicator:before {

    background-color: $colbackgroundinput;

}
.filters [type="radio"]:checked+.indicator:before, .filters [type="checkbox"]:checked+.indicator:before, .filters .exclude [type="checkbox"]:checked+.indicator:before {

    background-color: $colaccent;

}
.filters .exclude [type="checkbox"]:checked+.indicator:before {
      background-color: $colalert;
}
//border with a different color

#header {
  background-color: $header;
  border-color: $header;
}

#footer {
  color: $colbackground;
  background-color: $footer;
  border-color: $footer;
}
#footer a, #footer a:link, #footer a:visited, ul.notes a, ul.notes a:link, ul.notes a:visited {
  color: $colbackground;
  font-weight: bold;
  border-bottom: none;
}
#footer .heading, .heading {
  color: $header;
}
#header a, #header a:visited, #header .current, #header .primary .open a, #header .primary .dropdown:hover a, #header .primary .dropdown a:focus {
color: $coltext !important;

}

#header .dropdown .menu a, #header .dropdown .menu .current, .listbox .index a, .listbox .index a:link, .listbox .index a:visited {

color: $coltext !important;  
}
 a.tag, a.tag:visited, a.tag:link {
  color: $coltext;
padding: 2px;
line-height: 2em;
border: 2px solid $colaccent;
border-radius: $bordershape;
}

.blurb ul li, .blurb dd ul li, .meta dd ul li {
    display: inline-block;
    margin: 0;
}

.javascript {
  background-color: $colbackgroundfilters !important;
}
.announcement input[type="submit"], .announcement .action {
    background: $colbackground;
    border: $borderwidth $colborder;
    color: $coltext;

    }

        .blurb .header img {
background-color: $colaccent;
}
.userstuff blockquote {
  border-inline-start: 2px solid $colaccent;
}
.chapter .preface {
    border-color: $colborder;
}
span.offered.requested { color: $colrequestedoffered; }
span.offered, .replied, .nominations .approved { color: $coloffered; }
span.requested, .nominations .rejected { color: $colrequested; }